<%= render partial: "layouts/navbar" %>
<div class="l-container l-content">
  <div class="l-fluid-fixed">
    <div class="sc-border-light-right l-main">
      <div class="l-tabs">
        <div class="streamExploreTabs">
          <ul class="g-tabs g-tabs-large streamExploreTabs__streamTab">
            <li class="g-tabs-item">
              <h3><%= link_to "Stream", "/", class: "g-tabs-link", id: "stream" %></h3>
            </li>
            <li class="g-tabs-item">
              <h3><%= link_to "Likes", "/", class: "g-tabs-link" %></h3>
            </li>
            <li class="g-tabs-item">
              <h3><%= link_to "Following", "/", class: "g-tabs-link" %></h3>
            </li>
            <li class="g-tabs-item">
              <h3><%= link_to "Explore", "/", class: "g-tabs-link" %></h3>
            </li>
            <li class="g-tabs-item right">
              <h3><%= link_to "Uploads", tracks_path, class: "g-tabs-link" %></h3>
            </li>
          </ul>
          <div>
            <% @tracks.each do |track| %>
              <iframe width="100%"
                      height="124"
                      scrolling="no"
                      frameborder="no"
                      src="https://w.soundcloud.com/player/?url=<%= track[:uri] %>&amp;color=0aaaff&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>