<ul class="g-tabs g-tabs-large streamExploreTabs__streamTab">
  <li class="g-tabs-item">
    <h3><%= link_to "Stream", "/", class: "g-tabs-link", id: "stream" %></h3>
  </li>
  <li class="g-tabs-item">
    <h3><%= link_to "Likes", "/", class: "g-tabs-link" %></h3>
  </li>
  <li class="g-tabs-item">
    <h3><%= link_to "Following", "/", class: "g-tabs-link" %></h3>
  </li>
  <li class="g-tabs-item">
    <h3><%= link_to "Explore", "/", class: "g-tabs-link" %></h3>
  </li>
  <li class="g-tabs-item right">
    <h3><%= link_to "Uploads", uploads_path, class: "g-tabs-link" %></h3>
  </li>
</ul>